body {
  background-image: url('./assets/feedbackbg.png');
  background-size: 105%;
  color: white;
  background-repeat: no-repeat;
}

.container {
  padding-left: 15%;
  padding-right: 9%;
  padding-top: 2%;
}

div.setaBaixo{
    width: 30px;
    height: 30px;
    background-image: url("/assets/setaDownWhite.png");
    background-size: contain;
    position: relative;
    right: -85%;
    margin-right: 30%;
    margin-top: -15%;
    transform: translateX(-50%);
    animation-name: setaBaixo;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

.content {
    color: white;
}


.title h4 {
    color: rgba(255, 255, 255, 0.726)!important;
    
}
h4 {
    color: white!important;
}

.pt {
    margin-top: 7%;
    display:flex;
    max-width:83%;
    padding-bottom: 3%;
    text-decoration: none;
    margin-left: 10.5%;
    padding-right: 11%;
}

.pt a {
    text-decoration: none;
    color: var(--color-black);
}
.pt ul {
    color: var(--color-text);
}

.mb {
    padding-top: 5%;
    margin-left: 0.8%;
}

.ft h1 {
    padding-bottom: 2%;
    padding-top: 2%;
}
.collors img {
    width: 75%;
    padding-top: 4%;
    padding-left: 10%;
}

.container2 .inner .panel .panel-content {
  left: 53%!important;
}

.mobilec {
    width: 80%;
    display: inline-flex;
    padding-top: 1%;
    margin-left: 0%;
    color: black;
}
.mobilec img {
    width: 62%;
}
details > a{
    color: var(--color-black);
    text-decoration: none;
    font-size: 14px;
}

.mobilec {
    padding-left: 6%;
}

.mobile {
    max-width: 24%;
}

.mobile p{
    color: var(--color-text);
}

.projetos {
    padding-top: 3%;
}
.desafios {
    color: var(--color-black);
    transition: 0.8s;
    font-size: 14px;
    width: 80%;
}

.desafios p {
    color: var(--color-text);
}

.desafio {
    color: var(--color-black);
    transition: 0.8s;
    font-size: 14px;
    margin-left: 8%;
    width: 80%;
}

.desafio p {
    color: var(--color-text);
}

.solução p {
    color: var(--color-text);
}

.solução {
    margin-right: 15%;
    font-size: 14px;
    padding: 2%;
    transition: 0.8s;
    color: var(--color-black);
}

.title {
   margin-top: 25%;
   text-align: left;
   padding-left: 10%;
   padding-bottom: 40%;
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    padding: 1% 7% 0% 0%;
    align-items: center;
    z-index: 9999;
    padding-left: 11.3%;
    position: sticky;
    gap: 3em;
}

#navigation_header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

.header{
    background-color: transparent;
    justify-content: space-between;
    height: 3.5em;
}

.content{
    padding-top: 1%;
    text-align: center;
    margin-top: 5%;
}
.navigation_header a{
    text-decoration: none;
    color: rgb(206, 206, 206);
    transition: 1s;
    font-weight: 400;
}
.navigation_header a:hover{
    color: white;
    
}
.active{
    color: white!important;
}
h4{
    font-weight: 400;
    color: var(--color-text);
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.fixar{
  position: fixed;
}

.fixar2{
  display: block;
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    padding: 2% 9% 0% 0%;
    align-items: center;
    z-index: 9999;
    padding-left: 6%;
    margin-left: 3%;
    font-size: 1em;
    position: sticky;
    gap: 3em;
}


svg{
    width: 55px;
    color: white;
    flex-direction: row-reverse;
}

@media screen and (max-width: 1468px) {

  body {
    background-size: 122vw;
  }

  .setaBaixo {
    margin-left: -22%!important;
  }
    .navigation_header{
      position: absolute;
      flex-direction: column !important;
      top: 0;
      background-color: rgba(0, 0, 0, 0.622);
      border-radius: 5px;
      height: 95vh;
      width: 80vw;
      padding: 0!important;
      animation-duration: 1s;
      margin-left: -100vw;
      left: 0%!important
  }
  .btn_icon_header{
      display: block;
      padding: 2%;
  }

    .container {
      padding-top: 1em;
    }

    #cp {
      font-size: 10px;
    }
    #navigation_header2{
      flex-direction: column;
    }

    .form h1 {
      font-size: 1em!important;

    }

    #minhafoto {
      width:50%;
    }
    .form {
      margin-left: 10%;
    }

    nav a {
      display: flex;
      animation-duration: 1s;
      padding: 1em;
    }
    .btn_icon_header{
        display: block;
    }
    .pt {
      margin-top: 15%;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}


body::-webkit-scrollbar {
    width: 14px;              /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(231, 231, 231)   ;   /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(27, 27, 27);    /* color of the scroll thumb */
    border-radius: 0px;     /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }


.outrosProjetos {
    padding-left: 23%;
    padding-top: 2%;
    padding-bottom: 4%;
    display: flex;
  }
.outrosProjetos img{
      width: 25%;
      margin-right: 5%;
      border-radius: 5px;
  }

  .outrosProjetos a {
      text-decoration: none;
      color: white;
  }
  
.image_img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 97%;
  width: 25%;
  background: rgba(0, 0, 0, 0.7);
  color:white;
  display: flex;
  flex-direction: column;
  opacity: 0;
  align-items: center;
  transition: 0.25s;
  justify-content: center;
  border-radius: 5px;
}

.image__overlay--blur {
  backdrop-filter: blur(6px);
}

.image__overlay:hover{
  opacity: 1;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover > * {
  transform: translateY(0px);
}

.image__title {
  font-size: 1.3em;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.image__description {
  text-align: center;
  font-size: 0.8em;
  padding: 5%;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .title {
    padding-top: 20%;
    font-size: 0.8em;
    margin-right: 8%;
  }
  body {
    background-size: 192vh;
  }

  svg{
    width: 30px;
  }

  #content {
    padding-top: 26vh;
  }

  .pt {
    display:block!important;
    margin: 0;
    margin-left: 4.5%;
  }

  .desafio {
    padding-top: 3em;
  }
  .collors img {
    padding-top: 10%;
    padding-left: 14%;
  }

  .mobilec {
    display: block;
    width: 100%;
    padding-left: 0!important;
  }

  .mobilec img {
    width: 100%;
    padding-top: 10%;
  }

  .mobile {
    max-width: 75%;
    margin-left: 15%;
    padding-bottom: 10%;
  }

  .outrosProjetos img {
    width: 42vw;
  }

  .outrosProjetos {
    padding-left: 0!important;
    margin-left: 14%;
    padding-bottom: 10%;
  }
}