body {
    background-image: url('./assets/viensoftbg.png');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: white;
    color: white;
}



.content {
    color: white;
}

h4 {
    color: white!important;
}

.title {
   margin-top: 20%;
   text-align: left;
   margin-left: 12%;
   padding-bottom: 40%;
}

.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    padding: 1% 7% 0% 0%;
    align-items: center;
    z-index: 9999;
    padding-left: 11.3%;
    position: sticky;
    gap: 3em;
}

#navigation_header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

.header{
    background-color: transparent;
    justify-content: space-between;
    height: 3.5em;
}

.content{
    padding-top: 1%;
    text-align: center;
    margin-top: 5%;
}
.navigation_header a{
    text-decoration: none;
    color: white;
    transition: 1s;
    font-weight: 400;
}
.navigation_header a:hover{
    color: white;
    
}
.active{
    color: white!important;
}
h4{
    font-weight: 400;
    color: var(--color-text);
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

.fixar{
  position: fixed;
}

.fixar2{
  display: block;
}

svg{
    width: 55px;
    color: white;
    flex-direction: row-reverse;
}

@media screen and (max-width: 1468px) {
    .navigation_header{
        position: absolute;
        flex-direction: column !important;
        top: 0;
        padding-bottom: 1%;
        background: rgba(19, 18, 18, 0.932);
        width: 100%;
        margin-left: 100%;
        height: 100vh;
        padding: 1em;
        animation-duration: 1s;
    }

    .container {
      padding-top: 0%!important
    }

    #cp {
      font-size: 10px;
    }
    #navigation_header2{
      flex-direction: column;
    }

    .form h1 {
      font-size: 1em!important;

    }

    #minhafoto {
      width:50%;
    }
    .form {
      margin-left: 10%;
    }

    nav a {
      display: flex;
      animation-duration: 1s;
      padding: 1em;
    }
    .btn_icon_header{
        display: block;
    }
}

@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}


body::-webkit-scrollbar {
    width: 14px;              /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(231, 231, 231)   ;   /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(27, 27, 27);    /* color of the scroll thumb */
    border-radius: 0px;     /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }

