body {
    background-image: url('./assets/viensoftbg2.png');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-color: white;
    color: white;
}
