.ds {
  display: flex;
  width: 80vw;
  padding-top: 0%;
  padding-bottom: 3%;
  padding-left: 7%;
  padding-right: 5%;
}
.pd {
    padding-top: 3%;
}

.flex {
  width: 100px;
    height: 100px;
    display: inline-block;
}

.soft {
  margin-right: 2%;
  padding: 2%;
}


.soft p {
  font-weight: 350;
}
.design {
    margin-right: 2%;
    padding: 2%;
}

.design p {
  font-weight: 350;
}
 
#sv h1{
  font-size: 18px;
  padding-top:6%;
  font-weight: 300;
  padding-left: 14.2%;
}

#ng {
  font-family: 600;
}

#ft h1{
  font-size: 18px;
  padding-top:-10%;
  padding-bottom: 6%;
  font-weight: 300;
  padding-left: 14.2%;
}
