.ds {
  display: flex;
  width: 80vw;
  padding-top: 0%;
  padding-bottom: 3%;
  padding-left: 7%;
  padding-right: 5%;
}
.pd {
    padding-top: 3%;
}

.flex {
  width: 100px;
    height: 100px;
    display: inline-block;
}

.design {
  margin-left: 8%;
  padding: 2%;
  transition: 0.8s;
  font-size: 14px;
}


.soft p {
  color: var(--color-text);
}
.soft {
    margin-right: 15%;
    font-size: 14px;
    padding: 2%;
    transition: 0.8s;
}

.design p {
  font-weight: 400;
  color: var(--color-text);
}
 
.sv h1{
  font-size: 18px;
  padding-top:6%;
  margin-left: 6.4%;
  font-weight: 400;
  color: var(--color-text);
  padding-left: 14.2%;
}

.sv b{
  color: black;
}

#ng {
  font-family: 600;
}

.ft h1{
  font-size: 18px;
  margin-left: 6.4%;
  padding-top:-10%;
  padding-bottom: 6%;
  font-weight: 400;
  color: var(--color-text);
  padding-left: 14.2%;
}

.ft b{
  color: black;
}
